%p We're deploying a new instance of #{@app.owner}/#{@app.name} for you. You will get an email from heroku inviting you as a collaborator when it is ready. This process can take quite some time depending on the size of the repo and how many deploys are in front of you. If you want to see things move faster, send money to southpolesteve@gmail.com so I can increase server capacity

Feeling Impatient?

Move to the priority queue by paying $5

= form_tag charge_app_path(@app) do
  %script.stripe-button{"data-amount" => "500", "data-description" => "Priority Deployment ($5.00)", "data-key" => "pk_Ym63xcw0xbka2A6rlnSRIwedm4eht", "data-name" => "Deploy to Heroku Button", :src => "https://checkout.stripe.com/v2/checkout.js"}

.panel{ class: @app.created_on_heroku_at ? "panel-success" : "panel-warning" }
  .panel-heading
    %h3.panel-title Create Heroku App
  - if @app.created_on_heroku_at
    Created app named "#{@app.heroku_name}" at #{@app.created_on_heroku_at.to_s(:short)}

.panel{ class: @app.cloned_at ? "panel-success" : "panel-warning" }
  .panel-heading
    %h3.panel-title Clone Git Repository
  - if @app.cloned_at
    Cloned #{@app.github_url} at #{@app.cloned_at.to_s(:short)}

.panel{ class: @app.pushed_to_heroku_at ? "panel-success" : "panel-warning" }
  .panel-heading
    %h3.panel-title Push to Heroku
  - if @app.pushed_to_heroku_at
    Pushed to #{@app.heroku_name} at #{@app.pushed_to_heroku_at.to_s(:short)}

.panel{ class: @app.transfered_at ? "panel-success" : "panel-warning" }
  .panel-heading
    %h3.panel-title Transfer Ownership
  - if @app.transfered_at
    Transfered ownership of #{@app.heroku_name} to #{@app.user_email} at #{@app.pushed_to_heroku_at.to_s(:short)}
